@model List<WebApplication1.Models.Member>
@{
    ViewBag.Title = "Index";
    Layout = "/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div>
        <h1>首頁</h1>
    </div>
    <a href="~/Member">小組名單</a>

</div>

